/.metadata/

Projeto_pt1/\.cproject

Projeto_pt1/\.project

Projeto_pt1/\.settings/ch\.hsr\.ifs\.iltis\.cpp\.versionator\.prefs

Projeto_pt1/\.settings/language\.settings\.xml

Projeto_pt1/\.settings/org\.eclipse\.cdt\.managedbuilder\.core\.prefs

Projeto_pt1/boost/boost/

Projeto_pt1/Projeto_pt1\.exe\.xml
